# ~/.inputrc - behaviour of "bash"
# man bash -> /^READLINE

# Use Vi mode where it's available.
# http://www.catonmat.net/download/bash-vi-editing-mode-cheat-sheet.txt
# set editing-mode vi
# set keymap vi-command
# "\C-k":     vi-movement-mode

# Ctrl+Left/Right to move between words.
"\e[1;5C":  forward-word
"\e[1;5D":  backward-word
"\e[5C":    forward-word
"\e[5D":    backward-word
"\e\e[C":   forward-word
"\e\e[D":   backward-word

set completion-ignore-case 1
# set print-completions-horizontally 1
