# ~/.inputrc - behaviour of "bash"
# man bash -> /^READLINE

# Ctrl+Left/Right to move between words.
"\e[1;5C":  forward-word
"\e[1;5D":  backward-word
"\e[5C":    forward-word
"\e[5D":    backward-word
"\e\e[C":   forward-word
"\e\e[D":   backward-word

set completion-ignore-case 1
# set print-completions-horizontally 1
