! ~/.Xresources: terminalos motyok megjelenitese
! ==================== BimbaLaszlo (.github.io|gmail.com) ====================

! Minden modositas utan ki kell adni a kovetkezo parancsot, kulonben nem
! lathato a valtozas, csak restart utan:
!
!   xrdb ~/.Xresources
!
! Az ervenyesitett beallitasok listaja:
!
!   xrdb -query
!
! Ha az a celod, hogy kikapcsold az .Xresources tartalmat, akkor:
!
!   xrdb
!   ^D
!
! Az elerheto fontok listaja:
!
!   fc-list

! 96 DPI is not a standard. You should use your monitors actual DPI to get
! proper font rendering, especially when using subpixel rendering.
Xft*dpi:             96
Xft*antialias:       true

*xterm*termName:      xterm-256color
*xterm*dynamicColors: true
*xterm*scrollBar:     false

*xterm*faceName:      DeJavu Sans Mono
*xterm*faceSize:      10

! A Shift-+ es Shift-- ne meretezze at a betuket.
*xterm*shiftFonts:    false

!                                EGYENI SZINEK                            {{{1
! ============================================================================

! -----------------------------------------------------------------------------
! File: gruvbox-dark.xresources
! Description: Retro groove colorscheme generalized
! Author: morhetz <morhetz@gmail.com>
! Source: https://github.com/morhetz/gruvbox-generalized
! Last Modified: 6 Sep 2014
! -----------------------------------------------------------------------------

! hard contrast: *background: #1d2021
! medium contrast: *background: #282828
! soft contrast: *background: #32302f
*background: #282828
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2
