/* @theme "gruvbox-dark-soft" */
@theme "Arc"

configuration {
  kb-mode-next: "Shift+Right,Control+Tab,Super+Tab";
  matching-negate-char: '!';

  ssh-command: "{terminal} -T {host} -e ssh -t {host} tmux new-session -As ssh";

  show-icons: true;
  font: "mono 12";
  // Show modi list on the bottom of the window
  sidebar-mode: true;
}
