[Desktop Entry]
Comment[hu_HU]=
Comment=
Exec=node $HOME/opt/tiddlyserver/server.js
GenericName[hu_HU]=
GenericName=
Hidden=false
Icon=system-run
MimeType=
Name[hu_HU]=TiddlyServer
Name=TiddlyServer
Path=
StartupNotify=true
Terminal=true
TerminalOptions=--new-tab --show-tabbar --noclose
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
