/* https://forum.vivaldi.net/topic/25049/tabs-and-bookmark-bar-centered/6 */

#tabs-container {
  padding-top: 0 !important;
}

.vivaldi {
  height: 32px;
}

.tab-strip {
  display: flex;
}

.tab-position {
  position: relative;
  left: 0 !important;
}

#tabs-container .newtab {
  position: relative !important;
  left: auto !important;
  top: auto !important;
}
