! ~/.Xresources: terminalos motyok megjelenitese
! ==================== BimbaLaszlo (.github.io|gmail.com) ====================

! Minden modositas utan ki kell adni a kovetkezo parancsot, kulonben nem
! lathato a valtozas, csak restart utan:
!
!   xrdb ~/.Xresources
!
! Az ervenyesitett beallitasok listaja:
!
!   xrdb -query
!
! Ha az a celod, hogy kikapcsold az .Xresources tartalmat, akkor:
!
!   xrdb
!   ^D
!
! Az elerheto fontok listaja:
!
!   fc-list

! 96 DPI is not a standard. You should use your monitors actual DPI to get
! proper font rendering, especially when using subpixel rendering.
Xft*dpi:             96
Xft*Antialias:       true
Xft*Hinting:         true
Xft*HintStyle:       hintslight

*xterm*termName:      xterm-256color
*xterm*dynamicColors: true
*xterm*scrollBar:     false

*xterm*faceName:      DeJavu Sans Mono
*xterm*faceSize:      10

! A Shift-+ es Shift-- ne meretezze at a betuket.
*xterm*shiftFonts:    false

! TokyoNight Storm
! https://github.com/folke/tokyonight.nvim/blob/main/extras/xresources/tokyonight_storm.Xresources

*background: #24283b
*foreground: #c0caf5

*color0: #1d202f
*color1: #f7768e
*color2: #9ece6a
*color3: #e0af68
*color4: #7aa2f7
*color5: #bb9af7
*color6: #7dcfff
*color7: #a9b1d6

*color8: #414868
*color9: #f7768e
*color10: #9ece6a
*color11: #e0af68
*color12: #7aa2f7
*color13: #bb9af7
*color14: #7dcfff
*color15: #c0caf5

! ! TokyoNight Night
! 
! *background: #1a1b26
! *foreground: #c0caf5
! 
! *color0: #15161e
! *color1: #f7768e
! *color2: #9ece6a
! *color3: #e0af68
! *color4: #7aa2f7
! *color5: #bb9af7
! *color6: #7dcfff
! *color7: #a9b1d6
! 
! *color8: #414868
! *color9: #f7768e
! *color10: #9ece6a
! *color11: #e0af68
! *color12: #7aa2f7
! *color13: #bb9af7
! *color14: #7dcfff
! *color15: #c0caf5

! ! TokyoNight Day
! 
! *background: #e1e2e7
! *foreground: #3760bf
! 
! *color0: #e9e9ed
! *color1: #f52a65
! *color2: #587539
! *color3: #8c6c3e
! *color4: #2e7de9
! *color5: #9854f1
! *color6: #007197
! *color7: #6172b0
! 
! *color8: #a1a6c5
! *color9: #f52a65
! *color10: #587539
! *color11: #8c6c3e
! *color12: #2e7de9
! *color13: #9854f1
! *color14: #007197
! *color15: #3760bf

! ! Kanagawa
! ! https://github.com/rebelot/kanagawa.nvim/blob/master/extras/.Xresources
! 
! ! special
! *.foreground:   #dcd7ba
! *.background:   #1f1f28
! *.cursorColor:  #dcd7ba
! ! black
! *.color0:       #090618
! *.color8:       #727169
! ! red
! *.color1:       #c34043
! *.color9:       #e82424
! ! green
! *.color2:       #76946a
! *.color10:      #98bb6c
! ! yellow
! *.color3:       #c0a36e
! *.color11:      #e6c384
! ! blue
! *.color4:       #7e9cd8
! *.color12:      #7fb4ca
! ! magenta
! *.color5:       #957fb8
! *.color13:      #938aa9
! ! cyan
! *.color6:       #6a9589
! *.color14:      #7aa89f
! ! white
! *.color7:       #c8c093
! *.color15:      #dcd7ba
